
/* ....................globals................. */
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif; 
  color: blue;
  background-color: whitesmoke;
}


/* ......................header......................... */
nav {
  display: flex;
  justify-content: right;
  margin: 0;
  font-size: 20px;
}

.mb-2{
  background-color: lightgrey;
  height: 50px;
  display: flex;
}

.header{
  background-color: orange;
  height: 100px;

}

